{% extends 'admin.base.html.twig' %}

{% block dashboard %}
<section class="gap-40">
    <h1>Liste des Catégories</h1>

    <a class="btn btn-add" href="{{ path('admin_category_add') }}">Ajouter une catégorie</a>

    <table class="table">
        <thead>
            <tr>
                <th>Nom de la Catégorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <a class="icon-action" href="{{ path('admin_category_show', { id: category.id }) }}">
                        <img src="{{ asset('icons/icon-view.svg') }}" alt="View">
                    </a>

                    <a class="icon-action" href="{{ path('admin_category_edit', { id: category.id, name: 'pipou' }) }}">
                        <img src="{{ asset('icons/icon-edit.svg') }}" alt="Edit">
                    </a>

                    <a class="icon-action" href="{{ path('admin_category_delete', { id: category.id }) }}">
                        <img src="{{ asset('icons/icon-delete.svg') }}" alt="Delete">
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}