{% extends 'admin.base.html.twig' %}

{% block dashboard %}
<section class="gap-40">
    <a class="btn btn-primary" href="{{ path('admin_product_index') }}">Retour</a>
    <h1>Modifier le Produit : {{ product.title }}</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button class="btn btn-add" type="submit">Modifier</button>

    {{ form_end(form) }}
</section>
{% endblock %}