{% extends 'admin.base.html.twig' %}

{% block dashboard %}
<section class="gap-40">
    <h1>Liste des Produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix HT</th>
                <th>Prix TTC</th>
                <th>Catégorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.title }}</td>
                <td>€ {{ product.priceht|number_format(2, '.', ' ') }}</td>
                <td>€ {{ product.getPriceTTC()|number_format(2, '.', ' ') }}</td>
                <td>{{ product.category.name }}</td>
                <td>
                    <a class="icon-action" href="{{ path('admin_product_show', { id: product.id }) }}">
                        <img src="{{ asset('icons/icon-view.svg') }}" alt="View">
                    </a>

                    <a class="icon-action" href="{{ path('admin_product_edit', { id: product.id }) }}">
                        <img src="{{ asset('icons/icon-edit.svg') }}" alt="Edit">
                    </a>

                    <a class="icon-action" href="{{ path('admin_product_delete', { id: product.id }) }}">
                        <img src="{{ asset('icons/icon-delete.svg') }}" alt="Delete">
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}