<header class="flex align-item-center">
    <div>
        <a href="{{ path('home_index') }}"
            class="{{ app.request.attributes.get('_route') == 'home_index' ? 'active' : '' }}">
            <img src="{{ asset('logo.svg') }}" alt="Logo Flanano">
        </a>
    </div>
    <nav class="flex gap-20">
        <a href="{{ path('shop_index') }}"
            class="{{ app.request.attributes.get('_route') == 'shop_index' ? 'active' : '' }}">
            Tout
        </a>
        <a href="{{ path('shop_index') }}"
            class="{{ app.request.attributes.get('_route') == 'shop_makeup' ? 'active' : '' }}">
            Makeup
        </a>
        <a href="{{ path('shop_index') }}"
            class="{{ app.request.attributes.get('_route') == 'shop_sunglasses' ? 'active' : '' }}">
            Lunettes
        </a>
        <a href="{{ path('shop_index') }}"
            class="{{ app.request.attributes.get('_route') == 'shop_watches' ? 'active' : '' }}">
            Montres
        </a>
        <a href="{{ path('shop_index') }}"
            class="{{ app.request.attributes.get('_route') == 'shop_odyssey' ? 'active' : '' }}">
            Odyssey 25
        </a>
    </nav>
</header>